fastapi==0.115.6
uvicorn==0.32.1
soundfile==0.13.0
tqdm==4.67.1
hf_transfer
sentencepiece
accelerate>=0.26.0
safetensors==0.5.0
bitsandbytes==0.45.0
coqui-tts>=1.2.0
numpy 
python-multipart